# requirements.txt records the full set of dependencies for development
ray[default]
accelerate
transformers
datasets
vllm
numpy
pandas
wandb
hydra-core
omegaconf
tensordict
torchdata
codetiming
pylatexenc
jsonlines
timeout_decorator
sympy
latex2sympy2_extended[antlr4_13_2]
math_verify
